<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ml-auto boards__linkBox">
    <a class="btn btn-outline-dark">新規作成</a>
    <a href="/posts/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover boards__table">