<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
</div>
<table class="table table-hover accounts__table">
  <thead class="thead-dark">
    <tr>
      <th>アカウント名</th>
      <th>アカウントID</th>
      <th>作成日時</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <th><%= account.name %></th>
        <th><%= account.username %></th>
        <th><%= account.created_at.to_s(:datetime_jp) %></th>
      </tr>
    <% end %>
  </tbody>
</table>