<div class="container d-flex align-items-center" style="height:600px;">
  <%= form_with model: @account, method: :get, local: true, class: "d-flex row w-100" do |f| %>
    <div class="col-xm-12 col-md-4 m-2">
      <%= f.text_field :username, class: "form-control", placeholder: "検索したいアカウントID", required: true %>
    </div>
    <div class="col-xm-12 col-md-4 m-2">
      <%= f.select :sns, Account.sns.keys.to_a, { include_blank: '選択してください'}, { required: true , class: "form-control col" } %>
    </div>
    <div class="col-xm-12 col-md-3 m-2">
      <%= f.submit '検索', class: "btn btn-outline-secondary w-100", :name => nil %>
    </div>
  <% end %>
</div>