<div class="container">
  <p>検索</p>
  <%= form_with url: accounts_path, method: :get, local: true do |f| %>
    <%= f.text_field :username %>
    <%= f.select :sns, {'Instagram': 1, 'Twitter': 2, 'LINE': 3}, { include_blank: '選択してください'}, { required: true } %>
    <%= f.submit 'Search', class: "btn btn-success", :name => nil %>
  <% end %>
</div>

